@page "/businesses"
@inject HttpClient Http
@inherits BusinessPageBase

<h1>Businesses</h1>


@if (ViewModel == null || ViewModel.Businesses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="(() => ViewModel.EditBusiness())">+</button>
    <button class="btn btn-primary" @onclick="ViewModel.Refresh">Refresh</button>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Type</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var business in ViewModel.Businesses)
            {
            <tr>
                <td>@business.Name</td>
                <td>@business.Website</td>
                <td>@business.BusinessType</td>
                <td>@business.Status</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ViewModel.EditBusiness(business))">Edit</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

