@page "/businessdetails"
@page "/businessdetails/{id:guid}"

@inherits BusinessDetailsPageBase

<h1>Business Details</h1>

<p>This component demonstrates fetching data from the server.</p>


<button class="btn btn-primary" @onclick="ViewModel.GoBack">Back</button>
