@page "/fetchdata"
@inject HttpClient Http
@inherits BusinessPageBase

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (ViewModel.Businesses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="ViewModel.OpenNewBusinessPage">Click me</button>
    <button class="btn btn-primary" @onclick="CounterPage">Click mebad</button>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var business in ViewModel.Businesses)
            {
                <tr>
                    <td>@business.Id</td>
                    <td>@business.Name</td>
                    <td>@business.Latitude</td>
                    <td>@business.Longitude</td>
                </tr>
            }
        </tbody>
    </table>
}

